.main-navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: black;
    height: 100%;
}

.main-navbar .header {
    flex: 0.5;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .spotify-logo{
    flex: 1;
    margin-left: 15%;
    border-radius: 50%; 
    max-height: 50%;
    max-width: 25%;
}

.header .spotify-label {
    flex: 1;
}

.main-navbar .nav-list {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 0 6%;
    list-style: none;
}

.nav-list .list-item {
    flex: 1 0 1;
    font-size: 130%;
    padding: 3%;
}

.list-item .nav-link {
    color: white;
    transition: color 0.3s;
    text-decoration: none;
}

.list-item .nav-link:link,
.list-item .nav-link:visited {
    color: rgb(119, 118, 118);
}


.list-item .nav-link:hover,
.list-item .nav-link:active {
    color: white;
}

.home-icon,
.search-icon,
.library-icon {
    max-height: 30px;
    max-width: 30px;
    margin-right: 15px;
}

.main-navbar .footer {
    flex: 0.3;
    display: flex;
    border-top: 1px solid rgb(97, 97, 97);;
    margin: 0 10px;
    width: 80%;
}

.footer .nav-link {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    align-items: center;
    color: white;
    transition: color 0.3s;
    text-decoration: none;
}

.footer .user-pic {
    flex: 1;
    border-radius: 50%; 
    max-height: 40px;
    max-width: 40px;
    margin-right: 10px;
}

.footer .user-name {
    flex: 1;
    font-size: 90%;
}