.user-page {
    flex: 1;
    display: flex;
}

.user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10%;
}

.profile-pic {
    border-radius: 50%;
}

.profile-name {
    margin-top: 2%;
    font-size: 200%;
}