.results-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
<<<<<<< HEAD
    margin-left: 2%;
=======
    margin-top: 2%;
>>>>>>> cf131cdd2fc2cbaffb74b6976e56d9333051e352
}

.leading-result {
    flex: 1;
    display: flex;
    max-height: 100%;
    max-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.top-artist-result {
    flex: 0.3;
    display: flex;
<<<<<<< HEAD
    margin-right: 2%;
=======
    margin-right: 4%;
>>>>>>> cf131cdd2fc2cbaffb74b6976e56d9333051e352
}

.top-artist-tracks {
    flex: 0.7;
    display: flex;
}

.results-artists {
    flex: 1;
    display: flex;
<<<<<<< HEAD
=======
    margin-bottom: 2%;
>>>>>>> cf131cdd2fc2cbaffb74b6976e56d9333051e352
}

.results-tracks {
    flex: 1;
    display: flex;
<<<<<<< HEAD
}

.results-artists .list-wrapper,
.results-tracks .list-wrapper {
    height: 90%;
=======
    margin-bottom: 2%;
>>>>>>> cf131cdd2fc2cbaffb74b6976e56d9333051e352
}