.results-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 2%;
}

.leading-result {
    flex: 1;
    display: flex;
    max-height: 90%;
    max-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.top-artist-result {
    flex: 0.25;
    display: flex;
    margin-right: 2%;
}

.top-artist-tracks {
    flex: 0.75;
    display: flex;
}

.results-artists {
    flex: 1;
    display: flex;
}

.results-tracks {
    flex: 1;
    display: flex;
}

.results-artists .list-wrapper,
.results-tracks .list-wrapper {
    height: 90%;
}