.songs-list-item {
    flex: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1.5%;
    min-height: 30%;
    max-height: 30%;
    padding: 1%;
    border-radius: 5px;
}

.songs-list-item:hover {
    background-color: rgb(43, 38, 38);
}

.item-start {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.song-cover {
    flex: 1;
    height: 90%;
    width: 92%;
    border-radius: 5px;
}

.item-middle {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.song-name-link {
    flex: 1;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    font-size: 70%;
    color: white;
    text-decoration: none;
    height: 20%;
    width: 100%;
    padding: 0 5%;
}

.song-name-link .track-name {
    flex: 1;
    font-weight: bold;
    text-align: left;
}

.song-name-link .artist-name {
    flex: 1;
    padding-top: 2%;
    text-align: left;
}