.currently-playing-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 90%;
    width: 90%;
    margin: 1%;
}

.track-cover {
    flex: 0.2;
    align-self: center;
    height: 100%;
    width: 100%;
    max-height: 70px;
    max-width: 70px;
    margin: 0 5%;
    border-radius: 5px;
}

.track-details {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 98%;
    width: 90%;
    margin: 1% 0;
}

.track-details .track-sub-details {
    flex: 0.5;
    display: flex;
    font-size: 70%;
    height: 20%;
    width: 100%;
}

.track-sub-details .track-name {
    flex: 1;
    font-weight: bold;
    height: 50%;
    width: 100%;
}

.track-sub-details .artist-name {
    flex: 1;
    height: 50%;
    width: 100%;
}