.music-player {
    flex: 1;
    display: flex;
    background-color: rgb(48, 48, 48);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

/***************** Volume Controls *****************/
.music-player__volume {
    flex: 2;
    display: flex;
}

/***************** Player Controls *****************/
.music-player__player-controls {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

/* upper container */
.player-controls__upper-container {
    flex: 0.7;
    display: flex;
    align-items: flex-end;
    align-self: center;
    height: 100%;
    width: 50%;
    max-height: 100%;
}

/* lower container */
.player-controls__lower-container {
    flex: 0.5;
    display: flex;
    align-self: center;
    height: 50%;
    width: 60%;
}

/***************** Current played *****************/
.music-player__currently-played {
    flex: 2;
    display: flex;
    width: 100%;
    height: 100%;
}