.list-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
}

.list-title {
    flex: 1;
    padding: 0.4% 0.6%;
}

.music-list {
    flex: 1;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
}

.music-list-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}

.item-image-link,
.item-name-link {
    flex: 1;
    display: flex;
    color: white;
    text-decoration: none;
    width: 100%;
}

.item-image-link:hover .album-cover {
    opacity: 0.3;
}

.item-image-link:hover .album-middle {
    opacity: 1;
}

.album-cover {
    height: 225px;
    width: 225px;
    opacity: 1;
    position: relative;
    backface-visibility: hidden;
    transition: 0.4s ease;
}

.album-middle {
    opacity: 0;
    height: 225px;
    width: 225px;
    position: absolute;
    transition: 0.4s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.track-name {
    flex: 1;
    font-size: 80%;
    padding: 10px;
    text-align: center;
}

.artist {
    border-radius: 50%;
}