body {
    height: 98.3vh;
    color: white;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 20px; 
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient(
        210deg,
        rgba(116, 48, 39, 0.5),
        #141313 55%
      );
    /* background-image: 
        repeating-linear-gradient(
      25deg,
      rgb(80, 55, 55),
      rgba(87, 34, 4, 0.2) 100px,
      rgb(54, 7, 7) 10px,
      rgba(49, 5, 5, 0.2) 20px 
    );*/
}