.songs-list-item {
    flex: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 1.5%;
    height: 25%;
    border-radius: 5px;
}

.songs-list-item:hover {
    background-color: rgb(43, 38, 38);
}

.item-start {
    flex: 0.2;
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
}

.song-cover {
    flex: 1;
    align-self: center;
    height: 96%;
    width: 96%;
    max-height: 105px;
    max-width: 105px;
    border-radius: 5px;
}

.item-middle {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    height: 46%;
    width: 100%;
    margin: 2%;
}

.song-name-link {
    flex: 1;
    display: flex;
    font-size: 70%;
    color: white;
    text-decoration: none;
    height: 20%;
    width: 100%;
}

.song-name-link .track-name {
    flex: 1;
    font-weight: bold;
    text-align: left;
}

.song-name-link .artist-name {
    flex: 1;
    text-align: left;
}