.songs-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.songs-list-title {
    flex: 0.1;
    padding-bottom: 0.5%;
}

.songs-list :last-child {
    margin-bottom: 0;
}

.songs-list {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: scroll;
    height: 100%;
    width: 90%;
}

.songs-list::-webkit-scrollbar {
    width: 0.8em;
}
 
.songs-list::-webkit-scrollbar-thumb {
  background-color: rgb(97, 97, 97);
  outline: 1px solid rgb(55, 58, 61);
}